<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Demo Registration with ID + Identity + Document Verificaation</h1>
        <!-- <form role="form">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
        <form action="/" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" placeholder="First Name" name="first_name">
                </div>
                <div class="form-group col-md-6">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" placeholder="Last Name" name="last_name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="address_line_1">Address line 1</label>
                    <input type="text" class="form-control" id="address_line_1" aria-describedby="emailHelp" placeholder="Address line 1" name="address_line_1">
                </div>
                <div class="form-group col-md-6">
                    <label for="address_line_2">Address line 2</label>
                    <input type="text" class="form-control" id="address_line_2" aria-describedby="emailHelp" placeholder="Address line 2" name="address_line_2">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" aria-describedby="emailHelp" placeholder="City" name="city">
                </div>
                <div class="form-group col-md-6">
                    <label for="county">County</label>
                    <input type="text" class="form-control" id="county" aria-describedby="emailHelp" placeholder="County" name="county">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="postal_code">Postal code</label>
                    <input type="text" class="form-control" id="postal_code" aria-describedby="emailHelp" placeholder="Postal code" name="postal_code">
                </div>
                <div class="form-group col-md-6">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" aria-describedby="emailHelp" placeholder="Country" name="country">
                </div>
            </div>
           <div class="form-group col-md-12">
                <label for="customerInternalReference">Customer Internal Reference</label>
                <input type="text" class="form-control" id="customerInternalReference" aria-describedby="emailHelp" placeholder="Customer Internal Ref" name="customerInternalReference">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="workflowDefinition" aria-describedby="emailHelp"  name="workflowDefinition[key]" value="10015">
            </div>

            <!-- <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp" pleaceholder="Enter first name" name="first_name">
            </div>
            <div class="form-group">
                <label for="lastName">First Name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp" pleaceholder="Enter last name" name="last_name">
            </div>
            <div class="form-group">
                <label for="inputEmail">First Name</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" pleaceholder="Enter email" name="email">
            </div> -->
            <div class="col-md-12">
                
                
            </div>
        </form>
    </div>
</body>
</html>